.background {
  background: #0a0f14;
  margin: 15px;
  height: calc(100vh - 30px);
}

.bookmarks-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 52px;
}

.bookmark {
  height: 26px;
  width: 52px;
}

.bookmark>a {
  padding: 2px 10px 2px 10px;
  background: #1e273080;
  text-decoration: none;
}

.bookmark>a:hover {
  background: #1e2730;
}

.bookmark>a, .bookmark>a:visited {
  color: #3871ff;
}

